.card-container {
    display: flex;
    margin-bottom: 85px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 225px;
}

.card {
    margin: 20px;
}

.card-img {
    width: 311px;
    height: 383px;
    border-radius: 15px;
    border: 5px solid;
    margin-bottom: 28px;
}

.gryffindor {
    color: #FC3C3B;
}

.slytherin {
    color: #00A421;
}   

.hufflepuff {
    color: #F9E141;
}

.ravenclaw {
    color: #044D72;
}

.person-name {
    color: #EEEEEE;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    margin-bottom: 11px;
}

.house {
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
}
