@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

html, body, main, h1, h3, section, div, p, img, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito;
}
